{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('film_list') }}"> < Retour </a>

<div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                {{film.titre}}
            </div>
            <div class="card-body">

                {#

                <img src="https://image.tmdb.org/t/p/w200/b2shaNA4F8zNIwoRYr33lPTiFfl.jpg" class="img-fluid"
                    alt="Responsive image">

                #}


                <p class="card-title"><strong>titre: </strong>{{film.titre}}</p>
                <p class="card-title"><strong>date de sortie: </strong>{{film.sortie}}</p>
                <p class="card-title"><strong>genre: </strong>{{film.genre}}</p>

                <p class="card-text"></p><strong>synopsis: </strong>
                {{film.synopsis}}</p>

                {% if is_granted("ROLE_ADMIN") %}
                    {{ form_start(deleteForm) }}
                        <input type="submit" value="Supprimer le film">
                    {{ form_end(deleteForm) }}
                {% endif %}
                 
            </div>
        </div>
    </div>
    {% if app.user %}
    <div class="container mt-5">
            <fieldset>
                <legend>Je commente et je note</legend>
                {{form_start(formulaire)}}
                <div class="form-group">
              {{form_row(formulaire.nom)}}
            </div>
            <div class="form-group">
              {{form_row(formulaire.note)}}
            </div>

            <div class="form-group">
              {{form_row(formulaire.contenu)}}
            </div>
            {{form_end(formulaire)}}
        </fieldset>
    </div>
    {% endif %}
    
    
     <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                Les commentaires
            </div>
            {% for comment in film.commentaires %}
            <div class="card">
            <div class="card-header text-center">
                {{comment.nom}}
            </div>
            <div class="card-body">
                <p class="card-title"><blockquote class="blockquote">{{comment.contenu}}</blockquote>Note: {{comment.note}}/10</p>
                 
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}